.OTP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
}

.OTP header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: rgb(32, 195, 223);
}

.OTP .subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #666;
}

.OTP .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.OTP .otp-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.OTP .otp-form input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #444;
  background: #eee;
  width: 100%;
  box-sizing: border-box;
}

.OTP .submit-button {
  background:rgb(32, 195, 223);;
  color: #fff;
  padding: 1rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

.OTP .submit-button:hover {
  background: #4608b9;
}
