.SettingsPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.site-header {
  display: flex;
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: relative;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  min-height: 200px;
}
.settings-btn {
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(32, 195, 223);
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  cursor: pointer;
  box-shadow: 2px 3px 2px rgb(32, 195, 223);
  color:rgb(62, 56, 74);
  text-align: center;
  text-decoration: none;
}
